n8n_workflow_template.json
{
  "name": "Image Generator Workflow",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "functionCode": "// Configure your image data here\nconst imageData = [{\n  \"title\": \"Real Life <mark>Cheat Codes</mark> You Can Use\",\n  \"list\": [\n    \"<mark>Wake up early</mark> and establish a morning routine\",\n    \"Practice <mark>gratitude</mark> daily to shift your mindset\",\n    \"Read for <mark>30 minutes</mark> every day\",\n    \"Exercise regularly to <mark>boost energy</mark> and mood\",\n    \"Learn to say <mark>no</mark> to protect your time\",\n    \"Invest in <mark>relationships</mark> that matter most\",\n    \"Track your <mark>spending</mark> and create a budget\",\n    \"Take <mark>cold showers</mark> to build mental resilience\",\n    \"Meditate for <mark>10 minutes</mark> daily\",\n    \"Set <mark>clear goals</mark> and review them weekly\",\n    \"Eliminate <mark>distractions</mark> during focused work\",\n    \"Drink <mark>more water</mark> throughout the day\",\n    \"Get <mark>7-9 hours</mark> of quality sleep\",\n    \"Practice <mark>deep breathing</mark> when stressed\",\n    \"Write down your <mark>thoughts</mark> and ideas\",\n    \"Learn a <mark>new skill</mark> every quarter\",\n    \"Network with people <mark>smarter</mark> than you\",\n    \"Take regular <mark>breaks</mark> to prevent burnout\",\n    \"Invest in <mark>experiences</mark> not just things\",\n    \"Be <mark>kind</mark> to yourself and others\"\n  ]\n}];\n\nreturn imageData;"
      },
      "name": "Prepare Image Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "url": "=https://YOUR-TUNNEL-URL.trycloudflare.com",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": []
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        },
        "bodyContentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "name": "Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300],
      "notes": "⚠️ IMPORTANT: Replace YOUR-TUNNEL-URL with your actual CloudFlare tunnel URL"
    },
    {
      "parameters": {
        "functionCode": "// This node just shows the result\n// Replace this with your actual use case:\n// - Send Email\n// - Upload to Google Drive\n// - Post to Instagram\n// etc.\n\nconst binary = items[0].binary;\n\nif (binary && binary.data) {\n  return [{\n    json: {\n      success: true,\n      message: \"Image generated successfully!\",\n      mimeType: binary.data.mimeType,\n      fileSize: binary.data.fileSize || 'unknown'\n    },\n    binary: binary\n  }];\n}\n\nthrow new Error('No image data received');"
      },
      "name": "Process Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "Replace this node with your actual destination (email, drive, etc.)"
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Prepare Image Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Data": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Process Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}

